<h1>Add a new board</h1>

<form action="/homepage" method="post">
  <div class="form-group">
    <label for="album_name">Board topic</label>
    <input id="topic" name="board_topic" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Create Board!</button>
</form>